#skills{
    overflow: hidden;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.skillTitle{
    font-size: 3rem;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.skillPara{
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 51rem;
    padding: 0 2rem;
    text-align: center;
}

.skillBars{
    margin: 1.5rem;
    width: 100vh;
    max-width: 80%;
}

.skillbar{
    display: flex;
    padding: 1.5rem 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width:460px) {
    .skillBarText>p{
        display: none;
    }
    .skillBarImg{
        height: 2.5rem;
        width: 2.5rem;
    }
   .skillBarText{
   font-size: 5vw;
   }
}